<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Equipos</h1>
      </div><!-- /.col -->
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div>/.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class='content'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12 col-sm-12 col-md-12'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col'>
                <button [disabled]="!canAdd" class='btn btn-dark float-right' routerLink="agregar-equipo">
                  Agregar
                </button>
              </div>
            </div>
          </div>
          <div class='card-body table-responsive'>
            <table [dtOptions]='dtOptions' [dtTrigger]='dtTrigger'
                   class='table table-sm table-bordered table-striped hover'
                   datatable>
              <thead>
              <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tipo de PC</th>
                <th scope='col'>Nombre de Equipo</th>
                <th scope='col'>Marca</th>
                <th scope='col'>Modelo</th>
                <th scope='col'>Sistema Operativo</th>
                <th scope='col'>Procesador</th>
                <th scope='col'>RAM</th>
                <th scope='col'>Unidad de Almacenamiento</th>
                <th scope='col'>Capacidad de Almacenamiento</th>
                <th scope='col'>Departamento</th>
                <th scope='col'>Acciones</th>
              </tr>
              </thead>
              <tbody *ngIf='equipmentList?.length != 0 || equipmentList'>
              <tr *ngFor='let e of equipmentList;index as indexOfElement'>
                <td class='fit'>{{indexOfElement + 1}}</td>
                <td>{{e.pcType}}</td>
                <td>{{e.equipmentName}}</td>
                <td>{{e.brand}}</td>
                <td>{{e.model}}</td>
                <td>{{e.os.name}} {{e.os.architecture}}</td>
                <td>{{e.processor}}</td>
                <td>{{e.ram}}</td>
                <td>{{e.storageUnit}}</td>
                <td>{{e.storageCapacity}}</td>
                <td>{{e.department.name}}</td>
                <td class='fit'>
                  <div class='btn-group' role='group'>
                    <button (click)='openShowEquipmentModal(e.id)' class='btn btn-info'>
                      <i class='nav-icon fas fa-eye'></i>
                    </button>
                    <button [disabled]="!canEdit" class='btn btn-warning' routerLink="editar-equipo/{{e.id}}">
                      <i class='nav-icon fas fa-pen'></i>
                    </button>
                    <button (click)='openDeleteEquipmentModal(e.id)' [disabled]="!canDelete" class='btn btn-danger'>
                      <i class='nav-icon fas fa-trash'></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
              <tbody *ngIf='equipmentList?.length === 0'>
              <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Show Equipment Modal -->
<div aria-hidden='true' aria-labelledby='showEquipmentModalLabel' class='modal fade' id='showEquipmentModal'
     role='dialog'
     tabindex='-1'>
  <div class='modal-dialog modal-xl modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='showEquipmentModalLabel'>Equipo</h5>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <form [formGroup]='equipmentForm'>
        <fieldset disabled>
          <div class='modal-body'>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="pcTypeS">Tipo de PC</label>
                <select class="form-control" formControlName="pcType" id="pcTypeS">
                  <option selected value="Escritorio">Escritorio</option>
                  <option value="Portátil">Portátil</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="equipmentNameS">Nombre Equipo</label>
                <input class="form-control" formControlName="equipmentName" id="equipmentNameS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="brandS">Marca</label>
                <input class="form-control" formControlName="brand" id="brandS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="modelS">Modelo</label>
                <input class="form-control" formControlName="model" id="modelS" type="text">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="serialNumberS">Serie</label>
                <input class="form-control" formControlName="serialNumber" id="serialNumberS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="ipAddressS">Dirección IP</label>
                <input class="form-control" formControlName="ipAddress" id="ipAddressS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="connectionS">Conexión</label>
                <select class="form-control" formControlName="connection" id="connectionS">
                  <option selected value="Cable">Cable</option>
                  <option value="Wi-Fi">Wi-Fi</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="connectionTypeS">Tipo de Conexión</label>
                <select class="form-control" formControlName="connectionType" id="connectionTypeS">
                  <option selected value="Estática">Estática</option>
                  <option value="Dinámica">Dinámica</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="operatingSystemS">Sistema Operativo</label>
                <select class="form-control" formControlName="os" id="operatingSystemS">
                  <option *ngFor="let os of osList" value="{{os.id}}">{{os.name}} {{os.architecture}}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="osLicenseS">Licencia Sistema Operativo</label>
                <select class="form-control" formControlName="osLicense" id="osLicenseS">
                  <option selected value="SI">SI</option>
                  <option value="NO">NO</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="processorS">Procesador</label>
                <input class="form-control" formControlName="processor" id="processorS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="ramS">Memoria RAM</label>
                <input class="form-control" formControlName="ram" id="ramS" type="text">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="microsoftOfficeS">Microsoft Office</label>
                <input class="form-control" formControlName="microsoftOffice" id="microsoftOfficeS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="microsoftOfficeLicenseS">Licencia Microsoft Office</label>
                <select class="form-control" formControlName="microsoftOfficeLicense" id="microsoftOfficeLicenseS">
                  <option selected value="SI">SI</option>
                  <option value="NO">NO</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="antivirusS">Antivirus</label>
                <input class="form-control" formControlName="antivirus" id="antivirusS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="anydeskS">Anydesk</label>
                <select class="form-control" formControlName="anydesk" id="anydeskS">
                  <option selected value="SI">SI</option>
                  <option value="NO">NO</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="storageUnitS">Unidad de Almacenamiento</label>
                <select class="form-control" formControlName="storageUnit" id="storageUnitS">
                  <option selected value="HDD">HDD</option>
                  <option value="SSD">SSD</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="storageCapacityS">Capacidad de Almacenamiento</label>
                <input class="form-control" formControlName="storageCapacity" id="storageCapacityS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="assignedToS">Asignada A</label>
                <input class="form-control" formControlName="assignedTo" id="assignedToS" type="text">
              </div>
              <div class="form-group col-md-3">
                <label for="departmentS">Departamento</label>
                <select class="form-control" formControlName="department" id="departmentS">
                  <option *ngFor="let d of departmentList" value="{{d.id}}">{{d.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="jobS">Puesto</label>
                <select class="form-control" formControlName="job" id="jobS">
                  <option *ngFor="let j of jobsList" value="{{j.id}}">{{j.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="branchOfficeS">Sucursal</label>
                <select class="form-control" formControlName="branchOffice" id="branchOfficeS">
                  <option *ngFor="let bo of boList" value="{{bo.id}}">{{bo.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="emailS">Correo</label>
                <input class="form-control" formControlName="email" id="emailS" type="text">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="notesS">Observaciones</label>
                <textarea class="form-control" formControlName="notes" id="notesS" type="text"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- <div class='modal-footer'>
          <button class='btn btn-secondary' data-dismiss='modal' type='button'>Cerrar</button>
          <button [disabled]='equipmentForm.invalid' class='btn btn-primary' type='submit'>Guardar</button>
        </div> -->
      </form>
    </div>
  </div>
</div>

<!-- Add Equipment Modal -->
<!--<div aria-hidden='true' aria-labelledby='addEquipmentModalLabel' class='modal fade' id='addEquipmentModal'-->
<!--     role='dialog'-->
<!--     tabindex='-1'>-->
<!--  <div class='modal-dialog modal-xl modal-dialog-centered' role='document'>-->
<!--    <div class='modal-content'>-->
<!--      <div class='modal-header'>-->
<!--        <h5 class='modal-title' id='addEquipmentModalLabel'>Agregar Equipo</h5>-->
<!--        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>-->
<!--          <span aria-hidden='true'>&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form (submit)='createEquipment()' [formGroup]='equipmentForm'>-->
<!--        <div class='modal-body'>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="pcType">Tipo de PC <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="pcType" id="pcType">-->
<!--                <option selected value="Escritorio">Escritorio</option>-->
<!--                <option value="Portátil">Portátil</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="equipmentName">Nombre Equipo <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('equipmentName')?.invalid && (equipmentForm.get('equipmentName')?.dirty || equipmentForm.get('equipmentName')?.touched)"-->
<!--                autocomplete="off"-->
<!--                class="form-control" formControlName="equipmentName" id="equipmentName" type="text">-->
<!--              <span *ngIf="equipmentForm.get('equipmentName')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="equipmentNameInvalidRequired">Ingrese un nombre de equipo</span>-->
<!--              <span *ngIf="equipmentForm.get('equipmentName')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="equipmentNameInvalidMaxLength">El nombre no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="brand">Marca <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('brand')?.invalid && (equipmentForm.get('brand')?.dirty || equipmentForm.get('brand')?.touched)"-->
<!--                autocomplete="off"-->
<!--                class="form-control" formControlName="brand" id="brand" type="text">-->
<!--              <span *ngIf="equipmentForm.get('brand')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="brandInvalidRequired">Ingrese una marca</span>-->
<!--              <span *ngIf="equipmentForm.get('brand')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="brandInvalidMaxLength">La marca no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="model">Modelo <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('model')?.invalid && (equipmentForm.get('model')?.dirty || equipmentForm.get('model')?.touched)"-->
<!--                autocomplete="off"-->
<!--                class="form-control" formControlName="model" id="model" type="text">-->
<!--              <span *ngIf="equipmentForm.get('modelo')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="modelInvalidRequired">Ingrese un modelo</span>-->
<!--              <span *ngIf="equipmentForm.get('modelo')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="modelInvalidMaxLength">El modelo no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="serialNumber">Serie <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('serialNumber')?.invalid && (equipmentForm.get('serialNumber')?.dirty || equipmentForm.get('serialNumber')?.touched)"-->
<!--                autocomplete="off"-->
<!--                class="form-control" formControlName="serialNumber" id="serialNumber" type="text">-->
<!--              <span *ngIf="equipmentForm.get('serialNumber')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="serialNumberInvalidRequired">Ingrese una marca</span>-->
<!--              <span *ngIf="equipmentForm.get('serialNumber')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="serialNumberInvalidMaxLength">El número de serie no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="ipAddress">Dirección IP <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('ipAddress')?.invalid && (equipmentForm.get('ipAddress')?.dirty || equipmentForm.get('ipAddress')?.touched)"-->
<!--                [inputMask]="ipAddressMask"-->
<!--                autocomplete="off" class="form-control" formControlName="ipAddress"-->
<!--                id="ipAddress"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('ipAddress')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="ipAddressInvalidRequired">Ingrese una dirección IP</span>-->
<!--              <span *ngIf="equipmentForm.get('ipAddress')?.errors?.['inputMask']" class="error invalid-feedback"-->
<!--                    id="ipAddressInvalidMask">La dirección IP es inválida</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="connection">Conexión <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="connection" id="connection">-->
<!--                <option selected value="Cable">Cable</option>-->
<!--                <option value="Wi-Fi">Wi-Fi</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="connectionType">Tipo de Conexión <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="connectionType" id="connectionType">-->
<!--                <option selected value="Estática">Estática</option>-->
<!--                <option value="Dinámica">Dinámica</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="operatingSystem">Sistema Operativo <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="os" id="operatingSystem">-->
<!--                <option *ngFor="let os of osList" value="{{os.id}}">{{os.name}} {{os.architecture}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="osLicense">Licencia Sistema Operativo <span-->
<!--                class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="osLicense" id="osLicense">-->
<!--                <option selected value="SI">SI</option>-->
<!--                <option value="NO">NO</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="processor">Procesador <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('processor')?.invalid && (equipmentForm.get('processor')?.dirty || equipmentForm.get('processor')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="processor" id="processor" type="text">-->
<!--              <span *ngIf="equipmentForm.get('processor')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="processorInvalidRequired">Ingrese el procesador</span>-->
<!--              <span *ngIf="equipmentForm.get('processor')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="processorInvalidMaxLength">El procesador no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="ram">Memoria RAM <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('ram')?.invalid && (equipmentForm.get('ram')?.dirty || equipmentForm.get('ram')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="ram" id="ram" type="text">-->
<!--              <span *ngIf="equipmentForm.get('ram')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="ramInvalidRequired">Ingrese la memoria ram</span>-->
<!--              <span *ngIf="equipmentForm.get('ram')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="ramInvalidMaxLength">La memoria ram no puede tener más de 10 caracteres</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="microsoftOffice">Microsoft Office <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('microsoftOffice')?.invalid && (equipmentForm.get('microsoftOffice')?.dirty || equipmentForm.get('microsoftOffice')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="microsoftOffice" id="microsoftOffice"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('microsoftOffice')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="microsoftOfficeInvalidRequired">Ingrese el la versión de Office</span>-->
<!--              <span *ngIf="equipmentForm.get('microsoftOffice')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="microsoftOfficeInvalidMaxLength">Office no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="microsoftOfficeLicense">Licencia Microsoft Office <span-->
<!--                class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="microsoftOfficeLicense" id="microsoftOfficeLicense">-->
<!--                <option selected value="SI">SI</option>-->
<!--                <option value="NO">NO</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="antivirus">Antivirus <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('antivirus')?.invalid && (equipmentForm.get('antivirus')?.dirty || equipmentForm.get('antivirus')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="antivirus" id="antivirus" type="text">-->
<!--              <span *ngIf="equipmentForm.get('antivirus')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="antivirusInvalidRequired">Ingrese el antivirus</span>-->
<!--              <span *ngIf="equipmentForm.get('antivirus')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="antivirusInvalidMaxLength">El antivirus no puede tener más de 10 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="anydesk">Anydesk <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="anydesk" id="anydesk">-->
<!--                <option selected value="SI">SI</option>-->
<!--                <option value="NO">NO</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="storageUnit">Unidad de Almacenamiento <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="storageUnit" id="storageUnit">-->
<!--                <option selected value="HDD">HDD</option>-->
<!--                <option value="SSD">SSD</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="storageCapacity">Capacidad de Almacenamiento <span-->
<!--                class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('storageCapacity')?.invalid && (equipmentForm.get('storageCapacity')?.dirty || equipmentForm.get('storageCapacity')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="storageCapacity"-->
<!--                id="storageCapacity"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('storageCapacity')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="storageCapacityInvalidRequired">Ingrese la capacidad de almacenamiento</span>-->
<!--              <span *ngIf="equipmentForm.get('storageCapacity')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="storageCapacityInvalidMaxLength">La capacidad de almacenamiento no puede tener más de 5 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="assignedTo">Asignada A <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('assignedTo')?.invalid && (equipmentForm.get('assignedTo')?.dirty || equipmentForm.get('assignedTo')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="assignedTo" id="assignedTo" type="text">-->
<!--              <span *ngIf="equipmentForm.get('assignedTo')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="assignedToInvalidRequired">Ingrese asignada a</span>-->
<!--              <span *ngIf="equipmentForm.get('assignedTo')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="assignedToInvalidMaxLength">Asignada a no puede tener más de 100 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="department">Departamento <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="department" id="department">-->
<!--                <option *ngFor="let d of departmentList" value="{{d.id}}">{{d.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="job">Puesto <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="job" id="job">-->
<!--                <option *ngFor="let j of jobsList" value="{{j.id}}">{{j.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="branchOffice">Sucursal <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="branchOffice" id="branchOffice">-->
<!--                <option *ngFor="let bo of boList" value="{{bo.id}}">{{bo.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-6">-->
<!--              <label for="email">Correo <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('email')?.invalid && (equipmentForm.get('email')?.dirty || equipmentForm.get('email')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="email" id="email" type="text">-->
<!--              <span *ngIf="equipmentForm.get('email')?.errors?.['email']" class="error invalid-feedback"-->
<!--                    id="emailInvalid">Correo no válido</span>-->
<!--              <span *ngIf="equipmentForm.get('email')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="emailInvalidRequired">Ingrese un correo</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-12">-->
<!--              <label for="notes">Observaciones</label>-->
<!--              <textarea-->
<!--                [class.is-invalid]="equipmentForm.get('notes')?.invalid && (equipmentForm.get('notes')?.dirty || equipmentForm.get('notes')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="notes" id="notes"-->
<!--                type="text"></textarea>-->
<!--              <span *ngIf="equipmentForm.get('notes')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="notesInvalidMaxLength">Observaciones no puede tener más de 100 caracteres</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class='modal-footer'>-->
<!--          <button class='btn btn-secondary' data-dismiss='modal' type='button'>Cerrar</button>-->
<!--          <button [disabled]='equipmentForm.invalid' class='btn btn-primary' type='submit'>-->
<!--            Guardar-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Edit Equipment Modal -->
<!--<div aria-hidden='true' aria-labelledby='editEquipmentModalLabel' class='modal fade' id='editEquipmentModal'-->
<!--     role='dialog'-->
<!--     tabindex='-1'>-->
<!--  <div class='modal-dialog modal-xl modal-dialog-centered' role='document'>-->
<!--    <div class='modal-content'>-->
<!--      <div class='modal-header'>-->
<!--        <h5 class='modal-title' id='editEquipmentModalLabel'>Modificar Equipo</h5>-->
<!--        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>-->
<!--          <span aria-hidden='true'>&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form (submit)='updateEquipment()' [formGroup]='equipmentForm'>-->
<!--        <div class='modal-body'>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editPcType">Tipo de PC <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="pcType" id="editPcType">-->
<!--                <option selected value="Escritorio">Escritorio</option>-->
<!--                <option value="Portátil">Portátil</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editEquipmentName">Nombre Equipo <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('equipmentName')?.invalid && (equipmentForm.get('equipmentName')?.dirty || equipmentForm.get('equipmentName')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="equipmentName" id="editEquipmentName"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('equipmentName')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="equipmentNameInvalidRequiredEdit">Ingrese un nombre de equipo</span>-->
<!--              <span *ngIf="equipmentForm.get('equipmentName')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="equipmentNameInvalidMaxLengthEdit">El nombre no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editBrand">Marca <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('brand')?.invalid && (equipmentForm.get('brand')?.dirty || equipmentForm.get('brand')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="brand" id="editBrand" type="text">-->
<!--              <span *ngIf="equipmentForm.get('brand')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="brandInvalidRequiredEdit">Ingrese una marca</span>-->
<!--              <span *ngIf="equipmentForm.get('brand')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="brandInvalidMaxLengthEdit">La marca no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editModel">Modelo <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('model')?.invalid && (equipmentForm.get('model')?.dirty || equipmentForm.get('model')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="model" id="editModel" type="text">-->
<!--              <span *ngIf="equipmentForm.get('modelo')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="modelInvalidRequiredEdit">Ingrese un modelo</span>-->
<!--              <span *ngIf="equipmentForm.get('modelo')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="modelInvalidMaxLengthEdit">El modelo no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editSerialNumber">Serie <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('serialNumber')?.invalid && (equipmentForm.get('serialNumber')?.dirty || equipmentForm.get('serialNumber')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="serialNumber" id="editSerialNumber"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('serialNumber')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="serialNumberInvalidRequiredEdit">Ingrese una marca</span>-->
<!--              <span *ngIf="equipmentForm.get('serialNumber')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="serialNumberInvalidMaxLengthEdit">El número de serie no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editIpAddress">Dirección IP <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('ipAddress')?.invalid && (equipmentForm.get('ipAddress')?.dirty || equipmentForm.get('ipAddress')?.touched)"-->
<!--                autocomplete="off"-->
<!--                class="form-control" formControlName="ipAddress" id="editIpAddress" type="text">-->
<!--              <span *ngIf="equipmentForm.get('ipAddress')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="ipAddressInvalidRequiredEdit">Ingrese una dirección IP</span>-->
<!--              <span *ngIf="equipmentForm.get('ipAddress')?.errors?.['inputMask']" class="error invalid-feedback"-->
<!--                    id="ipAddressInvalidMaskEdit">La dirección IP es inválida</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editConnection">Conexión <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="connection" id="editConnection">-->
<!--                <option selected value="Cable">Cable</option>-->
<!--                <option value="Wi-Fi">Wi-Fi</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editConnectionType">Tipo de Conexión <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="connectionType" id="editConnectionType">-->
<!--                <option selected value="Estática">Estática</option>-->
<!--                <option value="Dinámica">Dinámica</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editOperatingSystem">Sistema Operativo <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="os" id="editOperatingSystem">-->
<!--                <option *ngFor="let os of osList" value="{{os.id}}">{{os.name}} {{os.architecture}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editOsLicense">Licencia Sistema Operativo <span-->
<!--                class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="osLicense" id="editOsLicense">-->
<!--                <option selected value="SI">SI</option>-->
<!--                <option value="NO">NO</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editProcessor">Procesador <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('processor')?.invalid && (equipmentForm.get('processor')?.dirty || equipmentForm.get('processor')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="processor" id="editProcessor" type="text">-->
<!--              <span *ngIf="equipmentForm.get('processor')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="processorInvalidRequiredEdit">Ingrese el procesador</span>-->
<!--              <span *ngIf="equipmentForm.get('processor')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="processorInvalidMaxLengthEdit">El procesador no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editRam">Memoria RAM <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('ram')?.invalid && (equipmentForm.get('ram')?.dirty || equipmentForm.get('ram')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="ram" id="editRam" type="text">-->
<!--              <span *ngIf="equipmentForm.get('ram')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="ramInvalidRequiredEdit">Ingrese la memoria ram</span>-->
<!--              <span *ngIf="equipmentForm.get('ram')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="ramInvalidMaxLengthEdit">La memoria ram no puede tener más de 10 caracteres</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editMicrosoftOffice">Microsoft Office <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('microsoftOffice')?.invalid && (equipmentForm.get('microsoftOffice')?.dirty || equipmentForm.get('microsoftOffice')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="microsoftOffice" id="editMicrosoftOffice"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('microsoftOffice')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="microsoftOfficeInvalidRequiredEdit">Ingrese el la versión de Office</span>-->
<!--              <span *ngIf="equipmentForm.get('microsoftOffice')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="microsoftOfficeInvalidMaxLengthEdit">Office no puede tener más de 50 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editMicrosoftOfficeLicense">Licencia Microsoft Office <span-->
<!--                class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="microsoftOfficeLicense" id="editMicrosoftOfficeLicense">-->
<!--                <option selected value="SI">SI</option>-->
<!--                <option value="NO">NO</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editAntivirus">Antivirus <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('antivirus')?.invalid && (equipmentForm.get('antivirus')?.dirty || equipmentForm.get('antivirus')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="antivirus" id="editAntivirus" type="text">-->
<!--              <span *ngIf="equipmentForm.get('antivirus')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="antivirusInvalidRequiredEdit">Ingrese el antivirus</span>-->
<!--              <span *ngIf="equipmentForm.get('antivirus')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="antivirusInvalidMaxLengthEdit">El antivirus no puede tener más de 10 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editAnydesk">Anydesk <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="anydesk" id="editAnydesk">-->
<!--                <option selected value="SI">SI</option>-->
<!--                <option value="NO">NO</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editStorageUnit">Unidad de Almacenamiento <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="storageUnit" id="editStorageUnit">-->
<!--                <option selected value="HDD">HDD</option>-->
<!--                <option value="SSD">SSD</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editStorageCapacity">Capacidad de Almacenamiento <span-->
<!--                class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('storageCapacity')?.invalid && (equipmentForm.get('storageCapacity')?.dirty || equipmentForm.get('storageCapacity')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="storageCapacity" id="editStorageCapacity"-->
<!--                type="text">-->
<!--              <span *ngIf="equipmentForm.get('storageCapacity')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="storageCapacityInvalidRequiredEdit">Ingrese la capacidad de almacenamiento</span>-->
<!--              <span *ngIf="equipmentForm.get('storageCapacity')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="storageCapacityInvalidMaxLengthEdit">La capacidad de almacenamiento no puede tener más de 5 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editAssignedTo">Asignada A <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('assignedTo')?.invalid && (equipmentForm.get('assignedTo')?.dirty || equipmentForm.get('assignedTo')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="assignedTo" id="editAssignedTo" type="text">-->
<!--              <span *ngIf="equipmentForm.get('assignedTo')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="assignedToInvalidRequiredEdit">Ingrese asignada a</span>-->
<!--              <span *ngIf="equipmentForm.get('assignedTo')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="assignedToInvalidMaxLengthEdit">Asignada a no puede tener más de 100 caracteres</span>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editDepartment">Departamento <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="department" id="editDepartment">-->
<!--                <option *ngFor="let d of departmentList" value="{{d.id}}">{{d.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editJob">Puesto <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="job" id="editJob">-->
<!--                <option *ngFor="let j of jobsList" value="{{j.id}}">{{j.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-3">-->
<!--              <label for="editBranchOffice">Sucursal <span class="text-danger">*</span></label>-->
<!--              <select class="form-control" formControlName="branchOffice" id="editBranchOffice">-->
<!--                <option *ngFor="let bo of boList" value="{{bo.id}}">{{bo.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-6">-->
<!--              <label for="editEmail">Correo <span class="text-danger">*</span></label>-->
<!--              <input-->
<!--                [class.is-invalid]="equipmentForm.get('email')?.invalid && (equipmentForm.get('email')?.dirty || equipmentForm.get('email')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="email" id="editEmail" type="text">-->
<!--              <span *ngIf="equipmentForm.get('email')?.errors?.['email']" class="error invalid-feedback"-->
<!--                    id="emailInvalidEdit">Correo no válido</span>-->
<!--              <span *ngIf="equipmentForm.get('email')?.errors?.['required']" class="error invalid-feedback"-->
<!--                    id="emailInvalidRequiredEdit">Ingrese un correo</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-row">-->
<!--            <div class="form-group col-md-12">-->
<!--              <label for="editNotes">Observaciones</label>-->
<!--              <textarea-->
<!--                [class.is-invalid]="equipmentForm.get('notes')?.invalid && (equipmentForm.get('notes')?.dirty || equipmentForm.get('notes')?.touched)"-->
<!--                autocomplete="off" class="form-control" formControlName="notes" id="editNotes" type="text"></textarea>-->
<!--              <span *ngIf="equipmentForm.get('notes')?.errors?.['maxlength']" class="error invalid-feedback"-->
<!--                    id="notesInvalidMaxLengthEdit">Observaciones no puede tener más de 100 caracteres</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class='modal-footer'>-->
<!--          <button class='btn btn-secondary' data-dismiss='modal' type='button'>Cerrar</button>-->
<!--          <button [disabled]='equipmentForm.invalid' class='btn btn-primary' type='submit'>Guardar</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!-- Delete Equipment Modal -->
<div aria-hidden='true' aria-labelledby='deleteEquipmentModalLabel' class='modal fade' id='deleteEquipmentModal'
     role='dialog' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='deleteEquipmentModalLabel'>Confirmar Eliminación</h5>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        ¿Está seguro de que desea eliminar este equipo?
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' data-dismiss='modal' type='button'>Cerrar</button>
        <button (click)='deleteEquipment()' class='btn btn-danger' type='button'>Eliminar</button>
      </div>
    </div>
  </div>
</div>
